.logo {

    font-family: var(--secondary-font);
    text-decoration: none;
    color: var(--accent-txt-cl);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;

        &--primary {
            color: #000;
        }
    
    
        &--inversed {
            color: #fff;
        }
                
        @media screen and (min-width:1200px) {margin-right: 93px;
        }
}

