.navigation {



    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }

        &__item {
            // position: relative;
            @media screen and (max-width:767px){
                &:not(:last-child){
                    margin-bottom: 32px;
                }
            }

            @media screen and (min-width: 768px) {
                &:not(:first-child) {
                    margin-left: 50px;
            }
        }
            
    }
    
    
        
    
    
        &__link {
            transition:
            color 250ms var(--cubic-primary),
            opacity-;
                
                
            &:hover,
            &:focus {
                    color: var(--accent-txt-cl);
            }
                    
            @media screen and (min-width:480px){
            display: block;
            text-decoration: none;

            color: var(--main-txt-cl);

            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            }

            @media screen and (min-width:768px){
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            }

        
            @media screen and (min-width:1200px){
            color: var(--main-txt-cl);
                padding: 32px 0;
        

     }
        
    }
}

.active{

    @media screen and (max-width: 767px){
    color: var(--accent-txt-cl);
    }
        
    &:after {
        @media screen and (min-width: 768x) {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1px;
    
            width: 100%;
            height: 4px;
    
            border-radius: 2px;
            background-color: var(--accent-bg-cl);
        }
    }
}