.section-team{
    background-color: var(--third-bg-color);

        .section-team__container{
            width: 100% ;

        @media screen and (min-width:1200px) {
               width: 1200px;
            }
        }

        

        &__flexbox {
            display: flex;
            flex-direction: column;
            gap: 30px;
            

            @media screen and (min-width:768px) {
                flex-direction: row; 
                flex-wrap: wrap;
            }
        }
        
        &__item {
            background-color: #fff;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            @media screen and (min-width:768px){
            width: calc((100% - 30px) / 2);
        }
            @media screen and (min-width:1200px) {
                width: calc((100% - 90px) / 4);
            }
            
        }
    
        &__wrap {
            padding: 30px 0;
        }
    
        &__name {
            margin-bottom: 10px;
    
            text-align: center;
            font-size: 16px;
            line-height: 1.19;
            font-weight: 500;
            letter-spacing: 0.03em;
        }
    
        &__postion {
            text-align: center;
            color: var(--secondary-txt-color);
            font-size: 16px;
            line-height: 1.19;
            letter-spacing: 0.03em;
        }

        &__img{
            width: 100%;
        }
}

.sections-headers--team {
    margin-bottom: 50px;
}