.terms {

    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    
    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
    
        &__input {
            appearance: none;
        }
    
        &__custom {
            display: inline-block;
            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 2px;
            margin-right: 7px;
    
        }
    
        &__input:checked~&__custom {
            background-image: url(../image/icons/check.svg);
            background-size: contain;
            border: none;
        }

        &__link{
            text-decoration: none;
        }
}


